.svg-icon {
	display: block;
	line-height: 0;
}

.svg-icon__svg {
	width: 1em;
	height: 1em;
	display: inline-block;
	fill: currentcolor;
}

a.svg-icon:hover {
	opacity: 0.8;
}

.svg-icon__placeholder {
	color: #777;
	font-style: italic;
}

.svg-icon__error {
	color: #a00;
}
